workflows/ Get Black Lists.json
{"createdAt":"2025-11-10T09:32:30.426Z","updatedAt":"2025-11-14T07:45:55.000Z","id":"RyJ0mGJrpSY19cac","name":"Get Black Lists","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9292c26b-48f5-4025-8b9f-818f170e0fca","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"FB1FDaLk3Es3VnFv","mode":"list","cachedResultUrl":"/workflow/FB1FDaLk3Es3VnFv","cachedResultName":"dlp api auth"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,0],"id":"dfb61f40-118b-4b1e-abaa-d7ac4fa2f27f","name":"Call 'dlp api auth'"},{"parameters":{"assignments":{"assignments":[{"id":"bc616c92-204b-42e7-9903-23fa95dd2f39","name":"accessToken","value":"={{ $json.accessToken }}","type":"string"},{"id":"4645143b-e23f-47b1-97a8-9ab7715c5a53","name":"refreshToken","value":"={{ $json.refreshToken }}","type":"string"},{"id":"468b5584-406d-4e3a-bb23-4e33ff4d9911","name":"baseUrl","value":"https://webanalytic.mbr.loc/api/v2/env/alert_center/api/v2/client/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"f9737fb2-ff5f-4f89-af60-7854929bf50d","name":"Params"},{"parameters":{"url":"={{ $('Params').first().json.baseUrl }}wbLists","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"id":"b7aa70a1-e733-42d3-81bd-dbbeeb45656b","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"TNYPlmghhzKA61N0","name":"DLP Bearer Auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"08e0fc7b-050a-4993-b259-ae63d5e6586d","name":"listId","value":"={{ $json.listId }}","type":"number"},{"id":"165df1d4-447d-42be-95c8-da1ea95789b3","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,0],"id":"f2f81e8f-8615-4175-a690-d336c248e237","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'dlp api auth'","type":"main","index":0}]]},"Call 'dlp api auth'":{"main":[[{"node":"Params","type":"main","index":0}]]},"Params":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"62bf6fb3-d98c-4d19-a0fc-8498574d5f24","triggerCount":0,"shared":[{"createdAt":"2025-11-10T09:32:30.433Z","updatedAt":"2025-11-10T09:32:30.433Z","role":"workflow:owner","workflowId":"RyJ0mGJrpSY19cac","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"createdAt":"2025-11-14T07:45:19.790Z","updatedAt":"2025-11-14T07:45:29.287Z","id":"xL5l7CorvxP9Ku1F","name":"dlp-wbLists"}]}