workflows/ Update BlackList.json
{"createdAt":"2025-11-13T12:45:21.201Z","updatedAt":"2025-11-14T07:45:41.000Z","id":"JQUMXqnnkjgVkF1z","name":"Update BlackList","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"FB1FDaLk3Es3VnFv","mode":"list","cachedResultUrl":"/workflow/FB1FDaLk3Es3VnFv","cachedResultName":"dlp api auth"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,-160],"id":"36015ae6-6cd2-445b-90bd-65573a57f9f7","name":"Call 'dlp api auth'"},{"parameters":{"assignments":{"assignments":[{"id":"bc616c92-204b-42e7-9903-23fa95dd2f39","name":"accessToken","value":"={{ $json.accessToken }}","type":"string"},{"id":"4645143b-e23f-47b1-97a8-9ab7715c5a53","name":"refreshToken","value":"={{ $json.refreshToken }}","type":"string"},{"id":"468b5584-406d-4e3a-bb23-4e33ff4d9911","name":"baseUrl","value":"https://webanalytic.mbr.loc/api/v2/env/alert_center/api/v2/client/","type":"string"},{"id":"040609f0-1230-4332-aac5-25a3b3a7f233","name":"wbList","value":"={{ $('When Executed by Another Workflow').item.json.wnList }}","type":"string"},{"id":"4deff630-5a87-4e9f-8f7e-97dd39732c53","name":"division","value":"={{ $('When Executed by Another Workflow').item.json.division }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-160],"id":"b7b0fb18-32a9-45c3-b8c1-2a2f02355627","name":"Params"},{"parameters":{"method":"PUT","url":"={{ $('Params').first().json.baseUrl }}wbList/{{ $('Params').item.json.wbList }}?","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.data }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-160],"id":"96982ac2-7a5d-48c2-81af-fc3a8a11a030","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"TNYPlmghhzKA61N0","name":"DLP Bearer Auth"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fqgtMtrSeY21yQLU","mode":"list","cachedResultName":"Employees","cachedResultUrl":"/projects/oo3cHiujaGSfUTH0/datatables/fqgtMtrSeY21yQLU"},"filters":{"conditions":[{"keyName":"Division","keyValue":"={{ $json.division }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[672,-160],"id":"c2f69b0a-5287-468b-b474-0bb12f0cbc05","name":"Get row(s)"},{"parameters":{"assignments":{"assignments":[{"id":"08e93af3-a042-4f2b-932a-72a6651c88f7","name":"type","value":"user","type":"string"},{"id":"0ee8280e-c435-4726-a5e6-e82bd4c357a1","name":"value","value":"={{ $json.UserId }}@mbr.loc","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-160],"id":"5ad037ea-b1f1-41ba-a9d0-751ce4a8a4bf","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1120,-160],"id":"c0408d2b-7d4b-4eaa-8916-9cc3dda9f58d","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"division"},{"name":"wnList","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-160],"id":"1b20f5ab-5ff1-42e7-8fd3-1001fdd78553","name":"When Executed by Another Workflow"}],"connections":{"Call 'dlp api auth'":{"main":[[{"node":"Params","type":"main","index":0}]]},"Params":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'dlp api auth'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"division":"Управление розничных продаж и послепродажного обслуживания","wnList":21}}]},"versionId":"8f027aea-19aa-4134-aa88-1760022a43cf","triggerCount":0,"shared":[{"createdAt":"2025-11-13T12:45:21.207Z","updatedAt":"2025-11-13T12:45:21.207Z","role":"workflow:owner","workflowId":"JQUMXqnnkjgVkF1z","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"createdAt":"2025-11-14T07:45:19.790Z","updatedAt":"2025-11-14T07:45:29.287Z","id":"xL5l7CorvxP9Ku1F","name":"dlp-wbLists"}]}