workflows/ Update Employees Table.json
{"createdAt":"2025-11-10T09:59:00.012Z","updatedAt":"2025-11-14T07:45:49.000Z","id":"sEcUEEmVNBJj2nlr","name":"Update Employees Table","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"Employees","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[896,-160],"id":"1d95b58f-3f1d-4dc5-a277-cf28e2d7d221","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"d47f10d0-4950-4e5b-ad2c-59fc819ca517","name":"Token","value":"={{ $json.Token }}","type":"string"},{"id":"14ea8ce1-0033-4b91-8e1a-d6aff34867ed","name":"Message","value":"={{ $json.Message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-160],"id":"03cbdaad-9930-428b-b8d8-8a5245dea163","name":"Params"},{"parameters":{"method":"POST","url":"https://ams.mbr.loc/AMS/api/Auth","sendBody":true,"bodyParameters":{"parameters":[{"name":"Login","value":"TEE5B3"},{"name":"AppName","value":"AI_InfoSec"},{"name":"Password","value":"A9fB3n7EFl6dyvSP"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-160],"id":"287dd8a3-03fc-4be4-bf64-38fdbf50b4bf","name":"Get AMS Authorisation Token","executeOnce":true},{"parameters":{"url":"https://ams.mbr.loc/AMS/api/Employees/Search/true?Active=True&QuantityItemOnPage=10000","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.Token }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-160],"id":"88e7a023-7039-457b-8c46-d6cbd022046c","name":"Get All Employees"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,-160],"id":"2444aa10-91ed-467a-98d8-74c1cf672ad2","name":"Schedule Trigger"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"fqgtMtrSeY21yQLU","mode":"list","cachedResultName":"Employees","cachedResultUrl":"/projects/oo3cHiujaGSfUTH0/datatables/fqgtMtrSeY21yQLU"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,-160],"id":"69a4902c-554e-41eb-9b21-d970ba77d789","name":"Delete row(s)","alwaysOutputData":true},{"parameters":{"dataTableId":{"__rl":true,"value":"fqgtMtrSeY21yQLU","mode":"list","cachedResultName":"Employees","cachedResultUrl":"/projects/oo3cHiujaGSfUTH0/datatables/fqgtMtrSeY21yQLU"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"FirstName","displayName":"FirstName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NFirstName","displayName":"NFirstName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastName","displayName":"LastName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NLastName","displayName":"NLastName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NPatronymic","displayName":"NPatronymic","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Division","displayName":"Division","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"OU","displayName":"OU","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PhoneOffice","displayName":"PhoneOffice","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"StartDate","displayName":"StartDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"SupervisorId","displayName":"SupervisorId","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Kst","displayName":"Kst","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NPosition","displayName":"NPosition","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Room","displayName":"Room","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PhoneMobile","displayName":"PhoneMobile","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"DeputyId","displayName":"DeputyId","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1120,-160],"id":"e5c6da28-2fcd-448d-b4c4-ddab5dc1a9af","name":"Insert row"}],"connections":{"Split Out":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Params":{"main":[[{"node":"Get All Employees","type":"main","index":0}]]},"Get AMS Authorisation Token":{"main":[[{"node":"Params","type":"main","index":0}]]},"Get All Employees":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Delete row(s)","type":"main","index":0}]]},"Delete row(s)":{"main":[[{"node":"Get AMS Authorisation Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"780759a0-ac26-45c3-adfb-62989599d5f4","triggerCount":0,"shared":[{"createdAt":"2025-11-10T09:59:00.016Z","updatedAt":"2025-11-10T09:59:00.016Z","role":"workflow:owner","workflowId":"sEcUEEmVNBJj2nlr","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"createdAt":"2025-11-14T07:45:19.790Z","updatedAt":"2025-11-14T07:45:29.287Z","id":"xL5l7CorvxP9Ku1F","name":"dlp-wbLists"}]}