workflows/ Update Manager.json
{"createdAt":"2025-11-14T06:01:27.132Z","updatedAt":"2025-11-14T07:45:23.000Z","id":"wr3bOtkSEh37Hhwb","name":"Update Manager","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-48],"id":"390a403b-adbb-4ba7-902c-3a898a00ea4a","name":"Schedule Trigger"},{"parameters":{"jsCode":"return [\n  {\"division\":\"Управление розничных продаж и послепродажного обслуживания\", \"wbList\":20},\n  {\"division\":\"Подразделение закупок непроизводственных материалов и услуг\", \"wbList\":22},  \t\n  {\"division\":\"Управление послепродажного обслуживания\", \"wbList\":23},\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-48],"id":"f02256fb-fd6f-416e-bf4e-f3299a8f2384","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"JQUMXqnnkjgVkF1z","mode":"list","cachedResultUrl":"/workflow/JQUMXqnnkjgVkF1z","cachedResultName":"Update BlackList"},"workflowInputs":{"mappingMode":"defineBelow","value":{"wnList":"={{ $json.wbList }}","division":"={{ $json.division }}"},"matchingColumns":[],"schema":[{"id":"division","displayName":"division","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"wnList","displayName":"wnList","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,-48],"id":"a3d64ad7-0ffa-4110-88b5-06a0647eea97","name":"Call 'Update BlackList'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-48],"id":"648ee7a8-c928-4bea-b94d-fba20ed069c8","name":"Loop Over Items"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call 'Update BlackList'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call 'Update BlackList'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"47e2a192-0ba9-4afa-8bd1-cc6e9e57e092","triggerCount":1,"shared":[{"createdAt":"2025-11-14T06:01:27.135Z","updatedAt":"2025-11-14T06:01:27.135Z","role":"workflow:owner","workflowId":"wr3bOtkSEh37Hhwb","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"createdAt":"2025-11-14T07:45:19.790Z","updatedAt":"2025-11-14T07:45:29.287Z","id":"xL5l7CorvxP9Ku1F","name":"dlp-wbLists"}]}